@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark ;
 }
 @plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #82b300 ;
   --color-secondary: #223a24;
 }


